<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Students List</title>

    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAfZpmh_0mAciVBKlPS3UWtuNa70jb6EOU",
            authDomain: "studentmanagement-84271.firebaseapp.com",
            databaseURL: "https://studentmanagement-84271-default-rtdb.firebaseio.com",
            projectId: "studentmanagement-84271",
            storageBucket: "studentmanagement-84271.appspot.com",
            messagingSenderId: "836487783337",
            appId: "1:836487783337:web:e50d36b7f8c245deaddab8",
            measurementId: "G-SWRTK8HFF6"
        };
        firebase.initializeApp(firebaseConfig);
        var database = firebase.database();

        $(document).ready(function () {
            $('#sort-by-name-button').on('click', function() {
                var rows = $('#students-table tbody tr').get();
                rows.sort(function(row1, row2) {
                    var name1 = $(row1).data('name');
                    var name2 = $(row2).data('name');
                    return name1.localeCompare(name2);
                });
                $.each(rows, function(index, row) {
                    $('#students-table tbody').append(row);
                });
            });
            
            $('#search-button').on('click', function() {
                var searchTerm = $('#search-input').val().toLowerCase();
                $('#students-table tbody tr').each(function() {
                  var name = $(this).find('.name').text().toLowerCase();
                  if (name.indexOf(searchTerm) === -1) {
                    $(this).hide();
                  } else {
                    $(this).show();
                  }
                });
              });

            $('#clear-button').on('click', function() {
                $('#search-input').val('');
                $('#students-table tbody tr').show();
              });


            $('#sort-button').on('click', function() {
                var $table = $('#students-table');
                var $tbody = $table.find('tbody');
                var $rows = $tbody.find('tr');
                $rows.sort(function(a, b) {
                    var nameA = $(a).find('.name').text().toLowerCase();
                    var nameB = $(b).find('.name').text().toLowerCase();
                    if (nameA < nameB) return -1;
                    if (nameA > nameB) return 1;
                    return 0;
                });
                $tbody.html($rows);
              });
              
              
              
            $('#add-student').on('submit', function (e) {
                e.preventDefault();

                var id = parseInt($('#id').val());
                var name = $('#name').val();
                var year = parseInt($('#year').val());
                var course = $('#course').val();

                database.ref('StudentsList').push({
                    ID: id,
                    Name: name,
                    Year: year,
                    Course: course
                }).then(function () {
                    $('#exampleModal').modal('hide');
                    location.reload();
                }).catch(function (error) {
                    console.error(error);
                });
            });

            $('#add-student-btn').on('click', function () {
                $('#exampleModal').modal('show');
            });

            $('.edit-student').on('click', function (e) {
                e.preventDefault();

                var studentKey = $(this).data('key');

                database.ref('StudentsList').child(studentKey).once('value', function (snapshot) {
                    var student = snapshot.val();

                    $('#update-id').val(student.ID);
                    $('#update-name').val(student.Name);
                    $('#update-year').val(student.Year);
                    $('#update-course').val(student.Course);
                    $('#update-student-key').val(studentKey);

                    $('#update-student-modal').modal('show');
                });
            });

            $('#update-student-form').on('submit', function (e) {
                e.preventDefault();

                var id = parseInt($('#update-id').val());
                var name = $('#update-name').val();
                var year = parseInt($('#update-year').val());
                var course = $('#update-course').val();
                var key = $('#update-student-key').val();

                $.ajax({
                    url: '/update_student/',
                    type: 'POST',
                    data: {
                        'id': id,
                        'name': name,
                        'year': year,
                        'course': course,
                        'key': key,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#update-student-modal').modal('hide');
                            location.reload();
                        } else {
                            alert(data.errors);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });          
        });
    </script>
</head>

<body>

    <div class="container">
        <h2>Students List</h2>
       

        <div class="row mb-5">
            <div class="col-sm-4">
              <input type="text" class="form-control" id="search-input" placeholder="Search by name">
            </div>
            <div class="col-sm-2">
                
              <button class="btn btn-primary" id="search-button">Search</button>
              <button class="btn btn-danger" id="clear-button">Clear</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-secondary" id="sort-button">Sort by Name</button>
            </div>
            
        </div>
          
        <button type="button" class="btn btn-primary" id="add-student-btn">Add New Student</button>
        <table class="table table-striped" id="students-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Course</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr >
                    <td class="id">{{ student.id }}</td>
                    <td class="name">{{ student.name }}</td>
                    <td class="year">{{ student.year }}</td>
                    <td class="course">{{ student.course }}</td>
                    <td>
                        <a href="#" class="edit-student btn btn-secondary" data-key="{{ student.key }}"
                            data-bs-toggle="modal" data-bs-target="#update-student-modal">Edit</a>

                        <a class="btn btn-danger" href='deletestudent/{{ student.id }}'>Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="add-student">
                            <div class="form-group row">
                                <label for="id">Id</label>
                                <input type="number" class="form-control" name="id" id="id" required>
                            </div>
                            <div class="form-group row">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                            <div class="form-group row">
                                <label for="year">Year</label>
                                <input type="number" class="form-control" name="year" id="year" required>
                            </div>
                            <div class="form-group row">
                                <label for="course">Course</label>
                                <input type="text" class="form-control" name="course" id="course" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="update-student-modal" tabindex="-1" aria-labelledby="update-student-modal-label"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="update-student-form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="update-student-modal-label">Update Student</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="update-id">Id</label>
                                <input type="number" class="form-control" name="id" id="update-id" required>
                            </div>
                            <div class="form-group row">
                                <label for="update-name">Name</label>
                                <input type="text" class="form-control" name="name" id="update-name" required>
                            </div>
                            <div class="form-group row">
                                <label for="update-year">Year</label>
                                <input type="number" class="form-control" name="year" id="update-year" required>
                            </div>
                            <div class="form-group row">
                                <label for="update-course">Course</label>
                                <input type="text" class="form-control" name="course" id="update-course" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" id="update-student-key">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
